//Color dasctop background
$headerColor: var(--body-color);
//Color dasctop Link
$headerTextColor: var(--text-color);
//Color hover animation in link (border) --- Цвет анимации при наведении на ссылки
$headerLinkLineColor: $accent;
//ADAPTIVE header
//Burger color
$headerBurgerColor: #ffffff;
//Menu background color
$headerBurgerMenuBg: #ffffff;
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
    .container {
        @include md-d {
            padding: 0;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $headerColor;
        z-index: 2;
    }
    &__logo {
        z-index: 3;
        @include md-d {
            margin-left: -20px;
        }
        &:hover {
            svg {}
        }
        svg {
            height: 80px;
            width: 130px;
            path {
                fill: var(--border-color);
                transition: 0.3s linear;
            }
        }
    }
    &__body {
        height: 80px;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include md-d {
            height: 54px;
        }
    }
    &__burger-bg {
        display: none;
        @include md-d {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            right: 0;
            height: 100%;
            width: 54px;
            background-color: $accent;
            z-index: 3;
        }
    }
    &__burger {
        display: none;
        @include md-d {
            display: block;
            position: relative;
            width: 24px;
            height: 18px;
            z-index: 5;
            & span {
                position: absolute;
                background-color: $headerBurgerColor;
                left: 0;
                width: 100%;
                top: 8px;
                height: 2.5px;
                transition: all 0.3s ease 0s;
            }
            &::before,
            &::after {
                content: "";
                background-color: $headerBurgerColor;
                position: absolute;
                width: 100%;
                height: 2.5px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            &.active {
                span {
                    transform: scale(0);
                }
                &::before {
                    transform: rotate(45deg);
                    top: 7px;
                }
                &::after {
                    transform: rotate(-45deg);
                    bottom: 9px;
                }
            }
        }
    }
    &__shadow {
        display: none;
        @include md-d {
            display: block;
            height: 5px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
        }
    }
    &__menu {
        display: flex;
        @include md-d {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: space-around;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $headerBurgerMenuBg;
            padding: 49px 0px 0px 0px;
            transition: all 0.3s ease 0s;
            overflow: auto;
            &.active {
                padding-bottom: 70px;
                top: 0;
                background: #000;
            }
        }
    }
    &__list {
        display: flex;
        position: relative;
        z-index: 2;
        flex-wrap: wrap;
        @include lg-d {
            flex-wrap: wrap;
        }
        @include md-d {
            height: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            margin-top: 44px;
            margin-bottom: 171px;
        }
        @media (max-width: 320px) {
            margin-bottom: 40px;
        }
    }
    &__link {
        margin-left: 50px;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: $headerTextColor;
        transition: 0.2s linear;
        &--active {
            color: $accent;
        }
        &:hover {
            transition: 0.2s linear;
            color: $headerLinkLineColor;
        }
        @include md-d {
            margin-left: 0;
            font-size: 18px;
            line-height: 29px;
        }
    }
    &__contacts {
        margin-left: 65px;
        font-weight: 450;
        font-size: 20px;
        line-height: 26px;
        white-space: nowrap;
        display: flex;
        z-index: 2;
        @include md-d {
            font-size: 30px;
            margin-left: 0;
            align-self: center;
            margin-bottom: 30px;
        }
    }
    &__switch {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        svg {
            position: relative;
            color: #fff;
            width: 18px;
            height: 18px;
            z-index: 2;
            &:nth-child(1) {
                margin-left: 10px;
            }
            &:nth-child(3) {
                margin-right: 10px;
            }
        }
        @include xl-d {
            margin-left: 0px;
        }
    }
    .toggle-button {
        -webkit-appearance: none;
        outline: none;
        width: 33px;
        height: 16px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), #596474;
        cursor: pointer;
        border-radius: 8px;
        position: relative;
        transition: 0.4s;
        z-index: 2;
        &:checked {
            background-color: #597483;
        }
        &:before {
            content: "";
            position: absolute;
            height: 12px;
            width: 12px;
            border-radius: 6px;
            top: 2px;
            left: 2px;
            background-color: #597483;
            transition: 0.4s;
        }
        &:checked:before {
            transform: translate(140%);
            transition: 0.4s;
        }
    }
}

.lock {
    overflow: hidden;
}