.works {
    margin-top: 200px;
    &__title {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        transform: translate(0px, 200%);
        opacity: 0;
        transition: all 3s ease 0s;
        &._active {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }
    &__wrapper {
        position: relative;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: hidden;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__card {
        margin-top: 45px;
        width: 330px;
        height: 330px;
        border-radius: 20px;
        position: relative;
        perspective: 1000px;
        //   cursor: pointer;
        transform: scale(0.7);
        opacity: 0;
        transition: all 1.2s ease 0s;
        &._active {
            transform: scale(1);
            opacity: 1;
            transition: all 1.2s ease 0s;
        }
        &:hover .works__front {
            transform: rotateY(180deg);
        }
        &:hover .works__back {
            transform: rotateY(360deg);
        }
    }
    &__front,
    &__back {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: 1s;
        backface-visibility: hidden;
        border-radius: 20px;
    }
    &__front {
        background: #fff;
        color: black;
        overflow: hidden;
        filter: drop-shadow(0px 0px 10px var(--border-color));
        img {}
    }
    &__back {
        box-shadow: 0px 0px 20px 10px var(--border-color);
        background: var(--body-color);
        transform: rotateY(180deg);
        padding: 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
            margin-right: 15px;
            font-size: 18px;
        }
    }
    &__card-title {
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }
    &__link {
        margin-top: 20px;
        a {
            font-size: 22px;
            color: $accent;
        }
    }
    &__tehnology {
        margin-top: 20px;
        p {
            margin-top: 10px;
            font-size: 15px;
        }
    }
    &__cms {
        margin-top: 20px;
        display: flex;
        p {
            font-size: 18px;
        }
    }
}