.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: $accent;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  transition: 0.3s linear;
  color: rgb(0, 0, 0);
  width: 200px;
  height: 35px;
  border-radius: 12px;
  @media (max-width: 350px) {
    width: 300px;
  }
  &:hover {
    transition: 0.3s linear;    
    
    
  }
  &--form{
	border: 2px solid #000;
	&:hover{
		color: #000;
		background: #fff;
	}
  }
  &--works{
	&:hover{
		color: #000;
		background: #fff;
	}
  }
}
