._anim-show {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: 0.8s all ease 0s;
}

._anim-show._active,
._active ._anim-show {
    opacity: 1;
    transform: translate(0px, 0px);
}